@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');

/* SCSS HEX */
$saffron: #e3b505ff;
$paynesgray: #4f6d7aff;
$verdigris: #56a3a6ff;
$yinmnblue: #345995ff;
$razzmatazz: #e40066ff;
$mint: #03cea4ff;
$tomato: #fb4d3dff;
$cool: 	#36454F;
$lightgray: #bababa;

/* FONTS */
$lilita: 'Lilita One', cursive;
$gruppo: 'Gruppo', cursive;
$fira: 'Fira Mono', monospace;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $gruppo;
}


body {
    background-color:rgb(49, 49, 49);
    overflow-x:hidden;
}

.container {
    padding: 0 2rem 0 2rem;
}

header {
    .navbar {
        background: grey;
        z-index: 1;
        position: fixed;
        width: 100%;
        box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.5);
        .container {
            .navbar-nav {
                font-size: 25px;
                margin-left: 45%;
                .nav-link {
                    color: white;
                    margin-left: 20px;
                    margin-right: 20px;
                    font-family: $fira;
                }
                .nav-link:hover {
                    color: orange;

                }
            }
        }
    }
}

.hero {
    min-height: 75vh;
 

    .container {
        padding-top: 16rem;
        .title-container {
          
            @mixin glitchCopy { 
                content: attr(data-text);
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        
            .glitch {
                position: relative;
                color: white;
                font-size: 85px;
                font-family: $fira;
                letter-spacing: .5em;
                animation: glitch-skew 1s infinite linear alternate-reverse;
                
                    &::before{
                        @include glitchCopy;
                        left: 2px;
                        text-shadow: -2px 0 #ff0000;
                        clip: rect(44px, 450px, 56px, 0);
                        animation: glitch-anim 5s infinite linear alternate-reverse;
                    }
                    
                    ::before,
                    &::after {
                        @include glitchCopy;
                        left: -2px;
                        text-shadow: -2px 0 #00ff11, 2px 2px #ff9100;
                        animation: glitch-anim2 1s infinite linear alternate-reverse;
                    }
            }
        
            @keyframes glitch-anim {
                $steps: 20;
                @for $i from 0 through $steps {
                    #{percentage($i*(1/$steps))} {
                    clip: rect(random(100)+px, 9999px, random(100)+px, 0);
                            transform: skew((random(100) / 100) + deg);
                    }
                }
            }
        
            @keyframes glitch-anim2 {
                $steps: 20;
                @for $i from 0 through $steps {
                    #{percentage($i*(1/$steps))} {
                    clip: rect(random(100)+px, 9999px, random(100)+px, 0);
                            transform: skew((random(100) / 100) + deg);
                    }
                }
            }
        
            @keyframes glitch-skew {
                $steps: 10;
                @for $i from 0 through $steps {
                    #{percentage($i*(1/$steps))} {
                    transform: skew((random(10) - 5) + deg);
                    }
                }
            }

            p {
                font-size: 35px;
                color: white;
            }
        }
    }
}


.about {
    min-height: 100vh;
    padding-top: 12rem;
    padding-bottom: 16rem;
    background-color:rgb(49, 49, 49);
    .container {
        color: white;
        padding-bottom: 12rem;
        h1 {
            font-family: $fira;
            font-size: 80px;
            color: rgb(190, 6, 98);
        }

        p {
            font-size: 35px;
        }
    }
}



.projects {
    margin-left: 80px;
    text-align: center;
    .title-container {
        padding-top: 8rem;
        @mixin glitchCopy { 
            content: attr(data-text);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
    }
    
    .glitch {
        position: relative;
        color: white;
        font-size: 4rem;
        letter-spacing: .5em;
        animation: glitch-skew 1s infinite linear alternate-reverse;
        
        &::before{
            @include glitchCopy;
            left: 2px;
            text-shadow: -2px 0 #ff0000;
            clip: rect(44px, 450px, 56px, 0);
            animation: glitch-anim 5s infinite linear alternate-reverse;
        }
        
        ::before,
        &::after {
            @include glitchCopy;
            left: -2px;
            text-shadow: -2px 0 #00ff11, 2px 2px #ff9100;
            animation: glitch-anim2 1s infinite linear alternate-reverse;
        }
    }

    @keyframes glitch-anim {
      $steps: 20;
      @for $i from 0 through $steps {
        #{percentage($i*(1/$steps))} {
          clip: rect(random(100)+px, 9999px, random(100)+px, 0);
                transform: skew((random(100) / 100) + deg);
        }
      }
    }
    

    @keyframes glitch-anim2 {
      $steps: 20;
      @for $i from 0 through $steps {
        #{percentage($i*(1/$steps))} {
          clip: rect(random(100)+px, 9999px, random(100)+px, 0);
                transform: skew((random(100) / 100) + deg);
        }
      }
    }
    
 
    @keyframes glitch-skew {
      $steps: 10;
      @for $i from 0 through $steps {
        #{percentage($i*(1/$steps))} {
          transform: skew((random(10) - 5) + deg);
        }
      }
    }
 }
    .container {
        padding-top: 3rem;
        padding-bottom: 8rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;   
        .card {
            background-color:rgb(29, 29, 29);
            color: white;
            position: relative;
            display: flex;
            flex-flow: column;
            text-align: center;
            align-items: center;
            justify-content: space-between;
            width: 85%;
            padding: 1.5rem;
            margin-bottom: 30px;

            img {
                width: 100%;
                margin-top: 10px;
                object-fit: contain;
            }
            .title {
               
              
                h6 {
                    font-size: 25px;
                    margin-top: 20px;
                    font-weight: bold;
                }
            }

            .desc {
           
             
            }
            
            .ghub {
               margin-bottom: 10px;
                display: flex;
                a {
                    text-decoration: none;
                    margin-top: 10px;
                    i {
                        color: rgb(0, 183, 255);
                        margin-right: 20px;
                        margin-left: 20px;
                    }
                
                    i:hover {
                        color: white;
                    }
                }
            }
        }
    }
}


.contact {
    min-height: 95vh;
    background-color:rgb(49, 49, 49);
    .title-container {
        text-align: center;
        h1 {
            font-family: $fira;
            font-size: 60px;
            color: rgb(190, 6, 98);
            padding-top: 7rem;
        }
    }
    
    .container {
        border-radius: 5px;
        background: transparent;
        width: 800px;
        form {
            color: white;

            label {
                font-family: $gruppo;
                font-weight: bold;
                font-size: 25px;
            }

            input {
                background-color:lightgrey;
                border: 1px solid lightgrey;
                width: 100%;
                height: 50px;
                border-radius: 10px;
                padding: .5rem;
            }
            input:hover {
                background-color: white;

            }

            textarea {
                background-color: lightgrey;
                width: 100%;
                height: 100px;
                border-radius: 10px;
                padding: .5rem;
            }

            textarea:hover {
                background-color: white;
            }
            
            .btn {
                width: 100%;
                margin-top: 30px;
                background-color: rgb(190, 6, 98);
                color: white;
                font-family: $gruppo;
                font-size: 30px;
                font-weight: bold;
            }

            .btn:hover {
                box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.5);
                

            }

        }
    }
}

@media (max-width: 1000px){
    .projects {
        .title-container {
            .glitch {
                font-size: 2rem !important;
            }
        }

        .container{
            padding-top: 0 !important;
            grid-template-columns: repeat(1, 1fr) !important; 
        }
    }

    .hero {
        .title-container {
            .glitch {
                font-size: 2rem !important;
            }
        }
    }

    .about {
        .container {
           padding-top: 0 !important;
           padding-bottom: 0 !important;
            h1 {
                font-size: 2rem !important;
            }

            p {
                font-size: 1rem !important;
            }

        }
    }

    .contact {
        .title-container {
            h1 {
                font-size: 2rem !important;
            }
        }

        .container {
            .form-group {
                label {
                    font-size: 1rem !important;
                }
            }
        }
    }
}   

