/* // #FF5733
// #C70039 
// #900C3F
// #511845 */
    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #1d1d1d;
    overflow-x: hidden;
    font-family: 'Kanit', sans-serif;
}

.dummy1,
.dummy2 {
    height: 10vh;
}

.primary-header {
    align-items: center;
    justify-content: space-between;
}

.mobile-nav-toggle {
    display: none;    
}
    
.logo {
    margin: 1.5rem;
}

.design {
    height: 10vh;
}

.about,
.projects,
.contact {
    padding: 0 8rem;
}

.about h1 {
    font-weight: 700;
    margin-top: 100px;
    margin-left: 1.5rem;
    color: white;
}

.primary-header,
.primary-navigation {
    display: flex;
    gap: 30px;
    padding: 0 8rem;
}

.primary-navigation {
    padding: 2rem;
    list-style: none;
}

.primary-navigation a {
    text-decoration: none;
    font-size: 24px;
    color: white;
}

.primary-navigation a:hover {
    color: #fb7a7a;  
}

.intro {
    margin: 1.5rem;
    color: white;
}
.primary-navigation a > span {
    font-weight: 700;
    font-size: 24px;
    color: white;
    margin-inline-end: .8rem;
}
hr {
    border: 3px solid transparent;
}
.hr1 {
    border: 3px solid #C70039;
    width: 25%;
    float: right;
}
.hr2 {
    border: 3px solid #900C3F;
    width: 45%;
    float: right;

}
.hr3 {
    border: 3px solid #FF5733;
    width: 75%;
    float: right;
}

.hr4 {
    border: 3px solid #C70039;
    width: 25%;
    float: left;
}
.hr5 {
    border: 3px solid #900C3F;
    width: 45%;
    float: left;

}
.hr6 {
    border: 3px solid #FF5733;
    width: 75%;
    float: left;
}
.hr7 {
    border: 3px solid #C70039;
    width: 25%;
    float: right;
}
.hr8 {
    border: 3px solid #900C3F;
    width: 45%;
    float: right;

}
.hr9 {
    border: 3px solid #FF5733;
    width: 75%;
    float: right;
}

.card1 {
    color: white;
    font-size: 18px;
    background-image: url('img/keypad.jpg');
    background-size: cover;
    padding: 10rem 0 0;
    max-width: 25ch;
   
}

.card2 {
    color: white;
    font-size: 18px;
    background-image: url('img/editor.jpg');
    background-size: cover;
    padding: 10rem 0 0;
    max-width: 25ch;
    
}

.card3 {
    color: white;
    font-size: 18px;
    background-image: url('img/contacts.jpg');
    background-size: cover;
    padding: 10rem 0 0;
    max-width: 25ch;
    
}

.card4 {
    color: white;
    font-size: 18px;
    background-image: url('img/weather.jpg');
    background-size: cover;
    padding: 10rem 0 0;
    max-width: 25ch;
    
}

.card5 {
    color: white;
    font-size: 18px;
    background-image: url('img/trafficlight.jpg');
    background-size: cover;
    padding: 10rem 0 0;
    max-width: 25ch;
    
}

.card6 {
    color: white;
    font-size: 18px;
    background-image: url('img/smarthome.jpg');
    background-size: cover;
    padding: 10rem 0 0;
    max-width: 25ch;
    
}

.card7 {
    color: white;
    font-size: 18px;
    background-image: url('img/stocks.jpg');
    background-size: cover;
    padding: 10rem 0 0;
    max-width: 25ch;
}

.card8 {
    color: white;
    font-size: 18px;
    background-image: url('img/networking.jpg');
    background-size: cover;
    padding: 10rem 0 0;
    max-width: 25ch;
}  

.card9 {
    color: white;
    font-size: 18px;
    background-image: url('img/networking2.jpg');
    background-size: cover;
    padding: 10rem 0 0;
    max-width: 25ch;
}  

.card10 {
    color: white;
    font-size: 18px;
    background-image: url('img/physics.jpg');
    background-size: cover;
    padding: 10rem 0 0;
    max-width: 25ch;
}  

.card11 {
    color: white;
    font-size: 18px;
    background-image: url('img/security.jpg');
    background-size: cover;
    padding: 10rem 0 0;
    max-width: 25ch;
} 

.card12 {
    color: white;
    font-size: 18px;
    background-image: url('img/musicplayer.jpg');
    background-size: cover;
    padding: 10rem 0 0;
    max-width: 25ch;
} 

.card13 {
    color: white;
    font-size: 18px;
    background-image: url('img/payroll.jpg');
    background-size: cover;
    padding: 10rem 0 0;
    max-width: 25ch;
} 

.card14 {
    color: white;
    font-size: 18px;
    background-image: url('img/landscape.jpg');
    background-size: cover;
    padding: 10rem 0 0;
    max-width: 25ch;
} 

.card-content {
    padding: 1.5em;
    background: linear-gradient(
        hsl(0 0% 0% / 0),
        hsla(20, 0%, 0%, 0.7) 30%,
        hsl(0 0% 0% / 1)
    );
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.card-body {
    margin-top: 30px;
    
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 30px;
}

.contact {
    color: white;
    text-align: center;
}

.contact-list {
    display: flex;
    justify-content: center;
}

.contact-list i {
    color: white;
}

.contact i {
    font-size: 30px;
    margin-bottom: 10px;
    padding: 1rem;
    
}

.contact .bxs-envelope {
    margin-top: 1px;
}

footer {
    position: fixed;
    bottom: 0;
}

.go-to-top i {
    color: #FF5733;
    font-size: 36px;
    margin-bottom: 30px;
}


.button i {
    color: #e50041;
    font-size: 35px;
    margin-top: 10px;
    border-radius: 50%;
}

.button i:hover {
    color: #fb7a7a;  
}

.bxs-envelope:hover,
.bxl-linkedin:hover {
    color: #fb7a7a;
}

@media (max-width: 35em) {
    .primary-navigation {
        gap: 1.5rem;
        position: fixed;
        inset: 0 0 0 30%;
        flex-direction: column;
        padding: min(30vh, 10rem) 2em;
        z-index: 1000;
        background-color: rgb(16, 16, 16);

        transform: translateX(-150%);
        transition: transform 450ms ease-in;
    }

    .primary-navigation[data-visible="true"] {
        transform: translateX(0%);
    }

    .mobile-nav-toggle {
        display: block;
        position: absolute;
        z-index: 9999;
        width: 1rem;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
    }
    
    button {
        background: transparent;
        color: #FF5733;
        border: none;
        font-size: 30px;
        padding: 0 2rem 0 0;
    }

    .primary-header {
        padding: 0 1rem 0 1rem;
    }

    .about,
    .contact {
        padding: 0 1rem 0 1rem;
    }

    .contact h1 {
        padding: 0 1rem;
    }

    .intro {
        font-size: 18px;
    }

    .projects {
        padding: 0 2.5rem 0 3.5rem;
    }

    .row {
        flex-direction: column;
        margin-bottom: 0px;
    }

    .card-title {
        font-size: 20px;
    }

    .card-body {
        margin-top: 10px;
    }

   

    .card1,
    .card2,
    .card3,
    .card4,
    .card5,
    .card6,
    .card7,
    .card8,
    .card9,
    .card10,
    .card11,
    .card12,
    .card13,
    .card14 {
        font-size: 16px;
        margin-bottom: 30px;
    }
}
